{#
/**
 * @file
 * Bartik's theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.highlighted: Items for the highlighted region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.featured_top: Items for the featured top region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.featured_bottom_first: Items for the first featured bottom region.
 * - page.featured_bottom_second: Items for the second featured bottom region.
 * - page.featured_bottom_third: Items for the third featured bottom region.
 * - page.footer_first: Items for the first footer column.
 * - page.footer_second: Items for the second footer column.
 * - page.footer_third: Items for the third footer column.
 * - page.footer_fourth: Items for the fourth footer column.
 * - page.footer_fifth: Items for the fifth footer column.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

{#
<div id="page-wrapper">
  <div id="page">
    <header id="header" class="header" role="banner">
      <div class="section layout-container clearfix">
        {{ page.secondary_menu }}
        {{ page.header }}
        {{ page.primary_menu }}
      </div>
    </header>
    {% if page.highlighted %}
      <div class="highlighted">
        <aside class="layout-container section clearfix" role="complementary">
          {{ page.highlighted }}
        </aside>
      </div>
    {% endif %}
    {% if page.featured_top %}
      <div class="featured-top">
        <aside class="featured-top__inner section layout-container clearfix" role="complementary">
          {{ page.featured_top }}
        </aside>
      </div>
    {% endif %}
    <div id="main-wrapper" class="layout-main-wrapper layout-container clearfix">
      <div id="main" class="layout-main clearfix">
        {{ page.breadcrumb }}
        <main id="content" class="column main-content" role="main">
          <section class="section">
            <a id="main-content" tabindex="-1"></a>
            {{ page.content }}
          </section>
        </main>
        {% if page.sidebar_first %}
          <div id="sidebar-first" class="column sidebar">
            <aside class="section" role="complementary">
              {{ page.sidebar_first }}
            </aside>
          </div>
        {% endif %}
        {% if page.sidebar_second %}
          <div id="sidebar-second" class="column sidebar">
            <aside class="section" role="complementary">
              {{ page.sidebar_second }}
            </aside>
          </div>
        {% endif %}
      </div>
    </div>
    {% if page.featured_bottom_first or page.featured_bottom_second or page.featured_bottom_third %}
      <div class="featured-bottom">
        <aside class="layout-container clearfix" role="complementary">
          {{ page.featured_bottom_first }}
          {{ page.featured_bottom_second }}
          {{ page.featured_bottom_third }}
        </aside>
      </div>
    {% endif %}
    <footer class="site-footer">
      <div class="layout-container">
        {% if page.footer_first or page.footer_second or page.footer_third or page.footer_fourth %}
          <div class="site-footer__top clearfix">
            {{ page.footer_first }}
            {{ page.footer_second }}
            {{ page.footer_third }}
            {{ page.footer_fourth }}
          </div>
        {% endif %}
        {% if page.footer_fifth %}
          <div class="site-footer__bottom">
            {{ page.footer_fifth }}
          </div>
        {% endif %}
      </div>
    </footer>
  </div>
</div> #}
<header class="header">
	<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top" style="top: -100px;">
		<div class="container px-lg-1 px-2">
				{{page.site_branding}}
			<button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div id="navbarCollapse" class="navbar-collapse collapse">
				{{page.primary_menu}}
			</div>
			<div class="menu-item me-0">
                        {# <form class="search-form" onsubmit="return chksearchfordata('collection-detail');">
                            <input id="searchindata" type="search" class="expand-search" autocomplete="off" name="" value="" placeholder="Search...">
                                <span id="clearInputText" class="clear-search" onclick="return clearSearchData('collection-detail');">×</span>
                        </form> #}
                        {{page.secondary_menu}}
                        </div>
		</div>
	</nav>



</header>

<main>
<div class="container-xxl py-4">
   <div class="container wow fadeInDown" data-wow-delay="0.1s">
{{page.content}}
</div>
</div>
</main>

<footer class="footer">
	<div class="container mt-auto">
		{{page.footer_first}}
  </div>

  <div class="container mt-auto">
		<div class="row copyright">
			<div class="col-md-6 text-center text-md-start">
				<a href="javascript:;">©{{footer_text}}</a>
				<!-- <a href="javascript:;">© 2023 Collector Systems<br> 169 Hudson St.</a> -->
			</div>
			<div class="col-md-6 text-center text-md-end">
				<div class="footer-menu">
					<a href="javascript:;">Powered by Collector Systems</a>

				</div>
			</div>
		</div>

	</div>
</footer>


{# $chpageredirect=basename(get_permalink());
	if($chpageredirect=='artists'){				//from artists
		$detailData="artist-detail";
	} else if($chpageredirect=='collections'){	//from collections
		$detailData="collection-detail";
	} else if($chpageredirect=='exhibitions'){	//from exhibitions
		$detailData="exhibition-detail";
	} else if($chpageredirect=='artist-detail' OR $chpageredirect=='collection-detail' OR $detailData="exhibition-detail"){	//from exhibitions
		$detailData="artobject-detail";
	}
$actionurl = site_url()."/".$detailData; #}



{# if url = http://collectorsystems-drupal.docksal/artists then get artists #}
{% set chpageredirect = path('<current>') %}
{% set parts = chpageredirect|split('/') %}
{% set chpageredirect = parts|last %}

{% if chpageredirect == 'objects' %}
  {% set detailData = 'artobject-detail' %}
{% elseif chpageredirect == 'artists' %}
  {% set detailData = 'artist-detail' %}
{% elseif chpageredirect == 'collections' %}
  {% set detailData = 'collection-detail' %}
{% elseif chpageredirect == 'exhibitions' %}
  {% set detailData = 'exhibition-detail' %}
{% elseif  chpageredirect == 'artobject-detail' or chpageredirect == 'artist-detail' or chpageredirect == 'collection-detail' or chpageredirect == 'exhibition-detail' %}
  {% set detailData = 'artobject-detail' %}
{% endif %}

{% set actionurl = path('<front>') ~ detailData %}

<form name="frmdata" id="frmdata" action="{{actionurl}}">
	<input type="hidden" value="" id="dataId" name="dataId"/>
	<input type="hidden" value="" id="sortBy" name="sortBy"/>
	<input type="hidden" value="" id="pageNo" name="pageNo"/>
	<input type="hidden" value="" id="qSearch" name="qSearch"/>
</form>

<script>


  function getmoredetails(currentCSThemeObjectId,currentCSThemeOrderBy,currentCSThemeSearch,currentCSThemePageNo){	//alert(currentCSObjectId);
    document.getElementById('dataId').value = currentCSThemeObjectId;
    document.getElementById('sortBy').value = currentCSThemeOrderBy;
    document.getElementById('pageNo').value = currentCSThemePageNo;

    if(currentCSThemeSearch != "" && currentCSThemeSearch != undefined)
    {
    document.getElementById('qSearch').value = currentCSThemeSearch;
    }
    else{
      jQuery("#qSearch").remove();
    }


    //for the detail pages
    var urlString = window.location.href;
    var url = new URL(urlString);
    var pathName = url.pathname;
    var detailPagePart = pathName.split('/').pop();
    if(detailPagePart == 'group-detail'){
      document.getElementById("frmdata").setAttribute('action', '/artobject-detail')
    }




    document.getElementById("frmdata").submit();
  }
  function getmoredetailsForArtist(artistactionurl,str){
    $durl = artistactionurl+"/artist-detail?dataId="+str;
    window.location.href= $durl;
  }
  function getmoredetailsForCollection(collectionactionurl,str){
    $durl = collectionactionurl+"/collection-detail?dataId="+str;
    window.location.href= $durl;
  }
  function getmoredetailsForExhibition(exhibitionactionurl,str){
    $durl = exhibitionactionurl+"/exhibition-detail?dataId="+str;
    window.location.href= $durl;
  }
  function getmoredetailsForGroup(groupactionurl,str){
    $durl = groupactionurl+"/group-detail?dataId="+str;
    window.location.href= $durl;
  }



  function displayWPThemeDefaultImage(control, imageFor, imageSize){
    $defaultImgName = "";
    switch(imageFor)
    {
      case "Artists":
        $siteUrl = get_bloginfo("template_directory");
        defaultImgName=$siteUrl + "/img/artist.png";
        break;
      case "Objects":
        switch (imageSize) {
          case "FullSize":
          case "DetailXLarge":
            defaultImgName = "https://cdn.collectorsystems.com/images/noimage500.png";
            break;
          case "SlideShow":
          case "DetailLarge":
            defaultImgName = "https://cdn.collectorsystems.com/images/noimage300.png";
            break;
          case "iPad":
            defaultImgName = "https://cdn.collectorsystems.com/images/noimage200.png";
            break;
          case "iPhone":
          case "ThumbSize":
            defaultImgName = "https://cdn.collectorsystems.com/images/noimage100.png";
            break;
          case "Detail":
          case "MidSize":
            defaultImgName = "https://cdn.collectorsystems.com/images/noimage150.png";
            break;
        }
        break;
      case "Collections":
      case "Exhibitions":
        defaultImgName = "https://cdn.collectorsystems.com/images/noimage200.png";
        break;
    }
    return defaultImgName;
  }


  function pagingForGroupLevelObjects(ajaxpage,listPageSize,groupLevelPageNoValue)
  {
    //debugger;
  var searchValue=document.getElementById("searchindata").value;
  var groupLevelOrderBy=document.getElementById("dlGroupLevelObjectsOrderBy").value;
  var pagenamevalue=ajaxpage;
  var pagetopvalue=document.getElementById("groupLevelTopCount").value;
  var pageskipvalue=document.getElementById("groupLevelSkipCount").value;
  var pageTotalCount=document.getElementById("groupLevelTotalCount").value;
  var groupTypeId=document.getElementById("groupTypeId").value;

  var collectionLeftExtent=$("#collectionLeftExtent").length > 0 ? $("#collectionLeftExtent").val() : 0;
  var collectionRightExtent=$("#collectionRightExtent").length > 0 ? $("#collectionRightExtent").val() : 0;

  if(groupLevelPageNoValue==1)
  {
    pageskipvalue=0;
  }
  else
  {
    pageskipvalue=(Number(groupLevelPageNoValue)-1) *Number(pagetopvalue);
  }

  jQuery.ajax({
      url: 'admin-ajax.php',
      type: 'post',
      data: { action: 'groupLevelObjects_paging_page',pagename:pagenamevalue,groupTypeId:groupTypeId,collectionLeftExtent:collectionLeftExtent,collectionRightExtent:collectionRightExtent,groupLevelPageNo:groupLevelPageNoValue,groupLevelTopCount:pagetopvalue,groupLevelSkipCount:pageskipvalue,groupLevelTotalCount:pageTotalCount,groupLevelOrderBy:groupLevelOrderBy,groupLevelSearch:searchValue},
      success: function(data) {

        document.getElementById("groupLevelOrderBy").value =  document.getElementById("dlGroupLevelObjectsOrderBy").value;
        $('#groupLevelObjectsData').html(data);

        htmlForGroupLevelObjectsPaging(listPageSize,groupTypeId,pagenamevalue,groupLevelPageNoValue,pageTotalCount,groupLevelOrderBy,searchValue);
     }
  });

  return false;
  }


  function applySorting(pageName){
  //var baseUrl = '<?php echo site_url(); ?>' + "/" + pageName;
  var baseUrl = window.location.origin + "/" + pageName;


  var pagingUrl = "";

  var searchValue=document.getElementById("searchindata").value;
  var sortByValue=document.getElementById("seldataorderby").value;
  var pagerec=document.getElementById("totrec").value;

  if(sortByValue != "")
  {
    sortByValue = encodeURIComponent(sortByValue);
  }
  if(searchValue != "")
  {
    searchValue = encodeURIComponent(searchValue);
  }

  if(sortByValue != "" && searchValue == "")
  {
    pagingUrl = baseUrl+"?sortBy="+sortByValue;
  }
  if(sortByValue == "" && searchValue != "")
  {
    pagingUrl = baseUrl+"?qSearch="+searchValue;
  }
  if(sortByValue != "" && searchValue != "")
  {
    pagingUrl = baseUrl+"?sortBy="+sortByValue+"&qSearch="+searchValue;
  }
  if(sortByValue == "" && searchValue == "")
  {
    pagingUrl = baseUrl;
  }
  window.location.href = pagingUrl;
}


function chksearchfordata(ajaxpage){

  if(ajaxpage=="artist-detail" || ajaxpage=="exhibition-detail" || ajaxpage=="group-detail"|| ajaxpage=="collection-detail")
  {
    event.preventDefault();
    searchingForGroupLevelObjects(ajaxpage);
  }
  else
  {
    if(ajaxpage=="artobject-detail")
    {
      //redirect it to objects list page
      ajaxpage = "objects";
    }
    applySearchToTopLevelTabs(ajaxpage);
    //searchingForTopLevelTabs(ajaxpage);
  }

  function applySearchToTopLevelTabs(pageName){

    var baseUrl =  window.location.origin;
    var sortByValue=document.getElementById("seldataorderby").value;
    var qSearchValue=document.getElementById("searchindata").value;

    window.location.href = baseUrl+"/"+pageName+"?sortBy="+encodeURIComponent(sortByValue)+"&qSearch="+qSearchValue;
  }


  return false;
}


function searchingForGroupLevelObjects(ajaxpage){
  var objectListSearchValue=document.getElementById("searchindata").value;
  var objectListOrderByValue=document.getElementById("dlGroupLevelObjectsOrderBy").value;
  var objectListRecTopValue=document.getElementById("groupLevelTopCount").value;
  var objectListRecSkipValue=document.getElementById("groupLevelSkipCount").value;
  var objectListTotalRecValue=document.getElementById("groupLevelTotalCount").value;
  var groupTypeId=document.getElementById("groupTypeId").value;

  var collectionLeftExtent=jQuery("#collectionLeftExtent").length > 0 ? jQuery("#collectionLeftExtent").val() : 0;
  var collectionRightExtent=jQuery("#collectionRightExtent").length > 0 ? jQuery("#collectionRightExtent").val() : 0;

  var listPageSize = objectListRecTopValue;
  objectListRecSkipValue = 0;

  var groupLevelPageNoValue =1;

  jQuery.ajax({
        url: '/v1/group-level-objects-searching-page',
        type: 'POST',
        dataType: 'json',
        data: {
          action: 'groupLevelObjects_searching_page',pagename:ajaxpage,groupTypeId:groupTypeId,collectionLeftExtent:collectionLeftExtent,collectionRightExtent:collectionRightExtent,searchWord:objectListSearchValue, groupLevelTopCount:objectListRecTopValue,groupLevelSkipCount:objectListRecSkipValue,groupLevelOrderBy:objectListOrderByValue},
        success: function(data) {
          console.log(data)
         //debugger;
         jQuery('#groupLevelObjectsData').html(data.groupLevelSearchHtml);
         document.getElementById("groupLevelTotalCount").value = document.getElementById("hdnTotalGroupLevelObjectCount").value;
         objectListTotalRecValue = document.getElementById("groupLevelTotalCount").value;
         htmlForGroupLevelObjectsPaging(listPageSize,groupTypeId,ajaxpage,groupLevelPageNoValue,objectListTotalRecValue,objectListOrderByValue,objectListSearchValue);
         if(Number(objectListTotalRecValue) > Number(objectListRecTopValue))
         {
          jQuery(".cs-grouplevel-total-count").html("("+objectListTotalRecValue+" results)");
         }
         else
         {
          jQuery(".cs-grouplevel-total-count").html("");
         }
       }
    });
  return false;
}



function sortingForGroupLevelObjects(ajaxpage,listPageSize){

  var searchValue=document.getElementById("searchindata").value;
  var selordrtype=document.getElementById("dlGroupLevelObjectsOrderBy").value;
  var pagenamevalue=ajaxpage;
  var pagetopvalue=document.getElementById("groupLevelTopCount").value;
  var pageskipvalue=document.getElementById("groupLevelSkipCount").value;
  var pageTotalCount=document.getElementById("groupLevelTotalCount").value;
  var groupTypeId=document.getElementById("groupTypeId").value;

  var collectionLeftExtent=jQuery("#collectionLeftExtent").length > 0 ? jQuery("#collectionLeftExtent").val() : 0;
  var collectionRightExtent=jQuery("#collectionRightExtent").length > 0 ? jQuery("#collectionRightExtent").val() : 0;

  var groupLevelPageNoValue =1;

  jQuery.ajax({
      url: '/v1/group-level-objects-searching-page',
      type: 'POST',
      dataType: 'json',
      data: { action: 'groupLevelObjects_searching_page',pagename:pagenamevalue,groupTypeId:groupTypeId,collectionLeftExtent:collectionLeftExtent,collectionRightExtent:collectionRightExtent,groupLevelTopCount:pagetopvalue,groupLevelSkipCount:pageskipvalue,groupLevelOrderBy:selordrtype,groupLevelSearch:searchValue},
      success: function(data) {
          document.getElementById("groupLevelOrderBy").value =  document.getElementById("dlGroupLevelObjectsOrderBy").value;
          jQuery('#groupLevelObjectsData').html(data.groupLevelSearchHtml);

          //htmlForGroupLevelObjectsPaging(listPageSize,groupTypeId,pagenamevalue,groupLevelPageNoValue,pageTotalCount,groupLevelOrderBy,searchValue);
    }
  });

  return false;
}

function clearSearchData(pageName){
    document.getElementById("searchindata").value = "";

    if(pageName=="artist-detail" || pageName=="exhibition-detail" || pageName=="group-detail" || pageName=="collection-detail")
    {
      clearSearchForGroupLevelObjects(pageName);
    }
    else
    {
      clearSearchForTopLevelTabs(pageName);
    }
    return false;
}


function clearSearchForTopLevelTabs(pageName)
{
  var baseUrl = window.location.origin + "/" + pageName;
  var pagingUrl = "";

  document.getElementById("searchindata").value = "";
  var sortByValue=document.getElementById("seldataorderby").value;
  if(sortByValue != "")
  {
    sortByValue = encodeURIComponent(sortByValue);
  }
  if(pageName == "artobject-detail")
  {
    var dataId = document.getElementById("hdnObjectId").value;
    var pageNo = document.getElementById("pageNo").value;
    pagingUrl = baseUrl+"/"+pageName+"?dataId="+dataId;
    if(sortByValue != "")
    {
      pagingUrl = pagingUrl+"&sortBy="+sortByValue;
    }
    if(pageNo != "")
    {
      pagingUrl = pagingUrl+"&pageNo="+pageNo;
    }
  }
  else
  {
    if(sortByValue != "")
    {
      pagingUrl = baseUrl+"?sortBy="+sortByValue;
    }
  }

  window.location.href = pagingUrl;

}

function clearSearchForGroupLevelObjects(ajaxpage)
{
  window.location.reload();
}

</script>
